{% extends 'base.html.twig' %}

{% block title %}Search results for "{{ searchQuery }}"{% endblock %}

{% block body %}
    <h1>Search results for "{{ searchQuery }}"</h1>

    {% if books|length == 0 %}
        <p>No books were found matching.</p>
    {% else %}
    <center> <h1 class="text-color-white">List of Books</h1>
    <table class="table ">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Pages</th>
                <th>Publication Date</th>
                <th>Genre</th>
                <th>Is it rented</th>
                {% if app.user %}
                <th>Rent this</th>
                <th>Return it</th>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <th>function</th>
                
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.Title }}</td>
                    <td>{{ book.Author ? book.Author.Name }}</td>
                    <td>{{ book.Pages }}</td>
                    <td>{{ book.PublicationDate|date("d/m/Y") }}</td>
                    <td>{{ book.Genre }}</td>
                    <td>{{ book.rented ? 'True' : 'False' }}</td>
                    {% if app.user %}
                    <td><a href="{{ path('books_rent', {'id': book.id}) }}">Rent</a></td>
                    <td><a href="{{ path('books_return', {'id': book.id}) }}">Return The Book</a></td>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <td><a href="{{ path('delete_book', {'id': book.id}) }}">Delete</a>
                    <a href="{{ path('edit_book', {'id': book.id}) }}">Edit</a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
